@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* .singlegame-container {
  background-image:url('/public/images/singlebg/Summer6.png');
=======
.singlegame-container {
  background-color: rgba(0, 0, 0, 0.7);
  @apply min-w-[1200px] min-h-screen flex justify-center 
  items-center cursor-default;
}

.singlegame-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/images/mainbg/mainbg.png');
>>>>>>> e100da3a974ed5d3ef3b83ddf0375c7089daecee
  background-size: cover;
  opacity: 0.7; /* 투명도 조절 */
  z-index: -1;
}

.singlegame-body {
  @apply flex flex-col justify-center items-center
}

.singlegame-select {
  @apply flex bg-white
} */

/* .game {
  width: 100%;
  height: 100%;
}

<<<<<<< HEAD
=======
.singlegame-cam-card {
  background-color: rgba(247, 254, 231, 0.6);
  @apply absolute top-20 bg-green-200 flex justify-center items-center
  p-2 rounded-3xl opacity-90
}

.singlegame-cam {
  @apply cursor-default
}
>>>>>>> e100da3a974ed5d3ef3b83ddf0375c7089daecee

.goBack {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 999;
}

.webCam {
  position: absolute;
  bottom: 0%;
  height: 20%;
} */


/* 현민 CSS!! */
.singlegame-container {
  /* display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; */
  height: 100vh;
}

<<<<<<< HEAD
.game {
  position: absolute;
  height: 100%;
  width: 100%;
}

.over-contents {
  z-index: 999;
  width: 100%;
  max-width: 400px; /* Limit width to 400px */
}
.current-time {
  z-index: 999;
  position: relative;
}
.my-item-list {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.my-item {
  color: rgba(255, 255, 255, 255);
  font-size: 40px;
  margin: 50px;
  padding: 15px;
  height: 150px;
  width: 150px;
  background-color: rgba(0, 0, 0, 70%);
  border-radius: 30px;

}

.single-webCam {
  width: 100%;
  max-width: 400px; /* Limit width to 400px */
  height: auto; /* Maintain aspect ratio */
  @apply
  opacity-80
}


=======
.loading-container {
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply w-full h-screen bg-opacity-80
}

.loading-body {
  @apply w-full h-full flex flex-col justify-center items-center
  text-9xl text-white
}

>>>>>>> e100da3a974ed5d3ef3b83ddf0375c7089daecee
/* Game */

/****************************************/
/* common styles used for v1 through v4 */
/****************************************/
/* #stats {
  border: 2px solid black;
}
#controls {
  width: 28em;
  float: left;
  padding: 1em;
  font-size: 0.7em;
}
#controls th {
  text-align: right;
  vertical-align: middle;
}
#instructions {
  clear: left;
  float: left;
  width: 17em;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}
#racer {
  position: relative;
  z-index: 0;
  width: 640px;
  height: 480px;
  margin-left: 20em;
  border: 2px solid black;
}
#canvas {
  position: absolute;
  z-index: 0;
  width: auto;
  height: 70%;
  z-index: 0;
  background-color: #72d7ee;
}
#mute {
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
  background: url(../../../components/play/images/mute.png);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin-left: 20em;
}
#mute.on {
  background-position: -32px 0px;
} */

/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/
/* #hud {
  position: absolute;
  z-index: 1;
  width: 640px;
  padding: 5px 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
  background-color: rgba(255, 0, 0, 0.4);
  color: black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#hud .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}
#hud #speed {
  float: right;
}
#hud #current_lap_time {
  float: left;
}
#hud #last_lap_time {
  float: left;
  display: none;
}
#hud #fast_lap_time {
  display: block;
  width: 12em;
  margin: 0 auto;
  text-align: center;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}
#hud .value {
  color: black;
  font-weight: bold;
}
#hud .fastest {
  background-color: rgba(255, 215, 0, 0.5);
} */
