/* Home.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container {
  @apply
  flex
  h-screen
  m-auto
  justify-center
}

.left-section {
  flex: 4; /* 좌측 섹션이 전체의 80%를 차지하도록 설정 */
  padding: 20px;
  border-right: 2px solid black; /* 좌측과 우측 섹션을 구분하는 선을 추가 */
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.right-section {
  flex: 1; /* 우측 섹션이 전체의 20%를 차지하도록 설정 */
  padding: 20px;
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
  background-image: url('/public/images/mainbg/sky1.jpg');
}

.home-title {
  font-style: italic;
  font-weight: 600;
  font-size: xx-large;
  @apply
  animate-bounce
}

.video-element{
  width: 100%;
  height: 100%;
}


.signupbt {
  border: 2px solid black;
  margin: 5px 0px;
  width: 100%;
  background-color: rgb(95, 214, 91);
  color: black;
  border-radius: 20px;
}

.signupbt:hover {
  background-color: orange;
  transition: 0.5s;
}

h3#or {
  text-align: center;
  margin: 10px 0px;
}