/* Home.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  /* padding-left: 100px; */
  @apply
  flex
  h-screen
  m-auto
  justify-center
  items-center
  select-none
}

.home-title {
 padding-left: 50px;
}

.mainlogo {
  width: 500px;
  height: 400px;
}

.home-logincontainer {
  width: 500px;
  height: 600px;
  border-radius: 30px;
  @apply flex justify-center items-center;
}

.home-loginbox {
  @apply
  pt-[50px]
  flex-col
  justify-center
  items-center
  w-[300px]
  h-[350px];
}

.signupbt {
  margin: 5px 0px;
  width: 100%;
  border-radius: 10px;
}

h3#or {
  text-align: center;
  margin: 10px 0px;
}