@tailwind base;
@tailwind components;
@tailwind utilities;

.roomlist-container {
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply min-w-[1200px] min-h-screen flex flex-col justify-center items-center
  bg-green-400 cursor-default;
}

.roomlist-table::-webkit-scrollbar {
  display: none;
}

/* 룸 리스트 헤더 */
.roomlist-header {
  @apply w-[1000px] flex justify-start items-start mb-5 mt-3
}

.roomlist-header-name {
  @apply text-8xl text-white justify-start items-start
}


/* 룸 리스트 바디 */
.roomlist-body {
  background-color: rgba(247, 254, 231, 0.6);
  @apply w-[1000px] min-w-[1000px] flex flex-col
  rounded-3xl mb-10;
  padding: 5px;
}

.roomlist-info {
  @apply flex items-center justify-between mt-5 ml-5 mr-10 mb-4;
}

.roomlist-info-choose {
  @apply flex flex-row items-center
}

.roomlist-search{
  @apply mr-4
}

.roomlist-search-input {
  @apply w-80 h-10 rounded-lg border-2 border-green-400 outline-none
}

.roomlist-search-input:focus {
  @apply  border-green-600
}

.roomlist-search-input::placeholder {
  @apply pl-5 text-gray-300 text-xl
}

.roomlist-search-button {
  @apply w-20 h-10 mr-40 flex items-center justify-center rounded-lg
  bg-black text-white
  hover:scale-110 transition duration-300
}

.roomlist-match{
  @apply w-[120px] h-12 flex items-center justify-center rounded-lg mr-4 bg-green-500 text-white
  text-xl
  hover:scale-110 transition duration-300
}



.roomlist-make{
  @apply w-[120px] h-12 flex items-center justify-center rounded-lg mr-4 bg-green-500 text-white
  text-xl
  hover:scale-110 transition duration-300
}

.roomlist-table{
  @apply h-[400px] flex flex-wrap justify-stretch overflow-y-scroll ml-4
}

.roomlist-table-box {
  @apply w-[288px] h-[164px] m-4
  hover:scale-105 transition duration-300
}

/* 메인 네브바 */
.room-navbar {
  @apply w-4/6 h-36 flex justify-center items-center;
}
