@tailwind base;
@tailwind components;
@tailwind utilities;

.roomlist-container {
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply min-w-[1200px] min-h-screen flex flex-col justify-center items-center
  bg-green-400 cursor-default;
}

/* 룸 리스트 헤더 */
.roomlist-header {
  @apply w-[1000px] flex justify-start items-start mb-5 mt-3
}

.roomlist-header-name {
  @apply text-8xl text-white justify-start items-start
}


/* 룸 리스트 바디 */
.roomlist-body {
  background-color: rgba(247, 254, 231, 0.6);
  @apply w-[1000px] min-w-[1000px] flex flex-col
  rounded-3xl mb-10;
  padding: 5px;
}

.roomlist-info {
  @apply flex items-center justify-between mt-5 ml-5 mr-10 mb-4;
}

.roomlist-info-choose {
  @apply flex flex-row
}

.roomlist-search{
  display: inline-flex;
  position: relative;
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  font-size: 25px;
  width: 40%;
  text-align: center;
  overflow: hidden;
  @apply mr-4
}

.roomlist-match{
  position: relative;
  border-radius: 20px;
  background-color: black;
  color: white;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  width: 20%;
  @apply rounded-lg mr-4
}

.roomlist-make{
  position: relative;
  border-radius: 20px;
  background-color: black;
  color: white;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  width: 20%;
  @apply mr-10 rounded-lg
}

.roomlist-table{
  @apply h-[400px] flex flex-wrap justify-stretch overflow-y-scroll ml-1
}

.roomlist-table-box {
  @apply w-[288px] h-[164px] m-4
  hover:scale-105 transition duration-300
}

/* 메인 네브바 */
.room-navbar {
  @apply w-4/6 h-36 flex justify-center items-center;
}
