@tailwind base;
@tailwind components;
@tailwind utilities;

.room-container {
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply min-w-[1200px] min-h-screen flex flex-col justify-center items-center
  bg-green-400 cursor-default;
}

/* 메인 헤더 */
.room-header {
  @apply w-[1200px] flex justify-start items-start mb-5
}

.room-header-name {
  @apply text-8xl text-white justify-start items-start
}

.room-main {
  background-color: rgba(247, 254, 231, 0.6);
  @apply w-[1200px] min-w-[1200px] flex flex-col
  rounded-3xl mb-10;
  padding: 5px;
}

.room-info {
  @apply flex items-center justify-end mr-10 mt-4;
}

.room-search{
  display: inline-flex;
  position: relative;
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  font-size: 25px;
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
}

.room-match{
  position: relative;
  border-radius: 20px;
  background-color: black;
  color: white;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 5px;
}

.room-make{
  position: relative;
  border-radius: 20px;
  background-color: black;
  color: white;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  width: 20%;
  margin: 5px;
}

.room-list{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 700px;
  margin: 10px;
}

.room-box {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: solid black 3px;
  margin: 10px;
}

/* 메인 네브바 */
.room-navbar {
  @apply w-4/6 h-36 flex justify-center items-center;
}
