@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  /* background-image: url('/public/images/mainbg/shibaBg.png'); */
  background-image: url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply select-none min-w-[1500px] min-h-screen flex flex-col
  bg-blue-400 cursor-default;
}

/* 메인 헤더 */
.main-header {
  @apply mt-10 mr-10 ml-10 flex justify-between items-start;
}

.main-headerName {
  @apply w-[436px] h-[120px];
}

.main-headerName > img {
  @apply w-[300px] h-[110px] ml-[70px];
}

.main-header-info {
  @apply w-2/6 flex flex-row justify-end items-center;
}

.main-header-navbar {
  @apply w-2/6 flex justify-center items-center;
}

.main-setting-button-container {
  @apply ml-10 text-white
  hover:text-gray-200 hover:cursor-pointer  hover:scale-150 transition
}

.settingButton {
  /* @apply hover:text-gray-200 hover:cursor-pointer  */
}

.main-header-profile {
  @apply w-[240px] h-[120px] ml-20 flex flex-row justify-between items-center 
  bg-white rounded-2xl;
}

.main-header-userProfile {
  @apply w-[120px] p-2 items-center flex justify-center;
}

.profile-image {
  @apply rounded-2xl hover:cursor-pointer hover:brightness-75
  hover:scale-105 transition-all duration-300 ;
}

.main-header-userInfo {
  @apply w-[120px] mr-1 flex flex-col justify-between items-center space-y-2;  
}

.main-header-userNickname {
  @apply text-xl;
}

.main-header-userCoin {
  @apply flex flex-row items-center;
}

.coinIcon {
  @apply text-yellow-300 w-6 h-6 mr-1;
}



/* 메인 바디 */
.main-body {
  @apply flex flex-row;
}

/* 왼쪽 섹션 */
.main-left-section {
  @apply w-8/12 flex flex-col ml-10;
}


/* 메인 캐러셀 */
.main-left-carousel {
  /* background-image: url('/public/images/carouselbg/carouselbg.png');
  background-size: cover;
  background-position: 50% 80%; */
  @apply h-5/6 flex ;
}




/* 오른쪽 섹션 */
.main-right-section {
  @apply w-4/12  mt-20 mr-10 flex flex-col items-center justify-center;
}




.main-right-single {
  @apply mb-20 mr-40 text-8xl text-white flex flex-row justify-center items-center
  hover:cursor-pointer hover:brightness-75 hover:scale-110 transition-all duration-300;
}

.main-right-multi {
  @apply mr-40 text-8xl text-white flex flex-row justify-center items-center 
  hover:cursor-pointer hover:brightness-75 hover:scale-110 transition-all duration-300;
}