@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  background-image: url('./forest.avif');
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-full min-h-screen flex flex-col justify-between;
}


/* 메인 헤더 */
.main-header {
  @apply h-20 flex flex-row;
}

.main-home {
  flex: 1;
  display: flex;
  justify-content: left;
}

.main-profile {
  flex: 1;
  display: flex;
  justify-content: right;
}


/* 메인 캐러셀 */
.main-carousel {
  @apply flex-grow flex justify-center items-center;
}

/* 메인 네브바 */
.main-navbar {
  @apply h-20;
}