.Character-container {
  display: flex;
}

.Character-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.Character-select {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}