video {
    width: 100%;
    height: auto;
    float: left;
}
.streamcomponent div {
    /* position: absolute; */
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
}
p{
    margin: 0;
}

