.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: white;
}


.leftSection {
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  width: 75%;
  height: 100vh;
  background-color: cornflowerblue;
}

.rightSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100vh;
  background-color: skyblue;
  padding: 10px;
}

.infoSection {
  position: relative;
  display: flex;
  color: white;
  width: 75%;
  height: 10%;
}

.goBack {
  position: relative;
  top: 0;
  left: 0;
}

.webCam {
  position: absolute;
  height: 100%;
}

.btnSelect {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 320px;
  height: 240px;
  margin: 10px; */
  background-color: grey;
}

.btnSelectMap {
  position: relative;
  top: 0;
  background-color: white;
}

.btnStart {
  position: relative;
  bottom: 0;
  background-color: tomato;
}
