@tailwind base;
@tailwind components;
@tailwind utilities;

.single-container {
  @apply min-w-[1000px] min-h-screen flex flex-col justify-center 
  items-center bg-green-400 cursor-default;
}

.Back {
  @apply absolute top-5 left-5
}

.single-header {
  @apply  w-[1000px] flex flex-col mb-5
}

.single-name {
  @apply text-7xl text-white justify-center ml-36
}

.single-body {
  @apply flex flex-row items-center
}

.single-body-cam {
  @apply w-[525px] h-[400px] flex items-center justify-center  bg-white 
  rounded-3xl p-10;
}

.single-webCam {
  @apply w-full flex items-center justify-center
  rounded-3xl;
}

.txtLoading {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  font-size: xx-large;
}

.body-selects {
  @apply w-[250px] h-[400px] flex flex-col items-center justify-between
  
}

.map-select {
  
}

.charact-select {
  @apply w-[200px] h-[80px] flex justify-center items-center 
  bg-white rounded-2xl 
}

.start-select {

}

