.container {
  display: flex;
  width: 960px;
  height: 540px;
}


.leftSection {
  position: relative;
  color: white;
  text-align: center;
  width: 720px;
  height: 540px;
  background-color: black;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 540px;
  background-color: tomato;
}


.goBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 80px;
  margin: 10px;
  background-color: grey;
}

.btnBack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 240px;
  margin: 10px;
  background-color: grey;
}

.mapSelect {
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: white;
}

.btnStart {
  text-align: center;
  width: 160px;
  height: 80px;
  margin: 10px;
  background-color: skyblue;
}
