.inforoom-container {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 20px;
}

.inforoom-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 25%;
  background-color: greenyellow;
  border-radius: 10px;
}

.inforoom-title {
}

.inforoom-body {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.inforoom-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.inforoom-track img {
  position: relative;
  height: 100px;
}
