.inforoom-container {
  @apply w-full h-full bg-lime-100 rounded-2xl
}

.inforoom-head {
  @apply flex flex-row pt-4 pl-6 pr-6 justify-between rounded-t-2xl 
}

.inforoom-head-secret {
  @apply flex flex-row pt-4 pl-6 pr-6 justify-between rounded-t-2xl 
}

.inforoom-title {
  @apply text-2xl
}

.inforoom-room-state {
  @apply flex items-center text-xl
}

.inforoom-secret-icon {

}


.inforoom-user-count {
  display: flex;
}
.inforoom-user img {
  margin-right: 10px;
}

.inforoom-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 75%;
  padding: 10px;
}

.inforoom-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  @apply text-2xl mr-4 mb-4
}

.inforoom-track img {
  position: relative;
  height: 100px;
  border-radius: 10px;
  @apply ml-4 mb-3
}

.secretroom-container {

}

.secretroom-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
}

.secretroom-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;

}

.secretroom-main {
  @apply w-full flex justify-center items-center
}

.secretroom-main-input {
  @apply w-[200px] flex justify-center items-center
  text-xl border-2 border-green-400 rounded-md outline-none
}

.secretroom-main-input::placeholder {
  @apply pl-2 text-gray-300 text-lg
}

.secretroom-main-button {
  @apply w-[60px] h-[32px] ml-4 bg-green-500 text-white rounded-md
  hover:scale-125 hover:bg-green-700 transition duration-300
}