@tailwind base;
@tailwind components;
@tailwind utilities;

.roomlist-make {
  @apply w-[120px] h-12 flex items-center justify-center rounded-lg mr-4 bg-green-500 text-white
  text-xl
  hover:scale-110 transition duration-300 hover:bg-green-600 cursor-pointer
}

.makeroom-container {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 10px;
}

.makeroom-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
}

.makeroom-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

.makeroom-name,
.makeroom-password {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.makeroom-people {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.makeroom-people-btn {
  display: flex;
  margin-left: 25px;
}

.makeroom-people-minus,
.makeroom-people-num,
.makeroom-people-plus {
  display: flex;
  border: solid black 1px;
  padding: 5px;
}

.makeroom-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.makeroom-option{
  display: flex;
  margin: 10px;
}

.makeroom-option-selected{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: skyblue;
  border-radius: 5px;
}
.makeroom-option-not{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

.makeroom-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeroom-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  border: solid black 1px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
