@tailwind base;
@tailwind components;
@tailwind utilities;

.roomlist-make {
  @apply w-[120px] h-12 flex items-center justify-center rounded-lg mr-4 bg-green-500 text-white
  text-xl
  hover:scale-110 transition duration-300 hover:bg-green-600 cursor-pointer
}


.makeroom-header {
  @apply flex items-center justify-end
}

.makeroom-body {
  @apply flex flex-col justify-center pb-6 pl-6 pr-6
}

.makeroom-title {
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  @apply mb-10
}

.makeroom-name,
.makeroom-password {
  @apply w-full flex justify-between items-center mb-2
}

.makeroom-name-input {
  @apply w-48 border-2 border-green-300 rounded-lg
  focus:border-green-600
}

.makeroom-password-input {
  @apply w-48 border-2 border-green-300 rounded-lg
}

.makeroom-contents {
  @apply w-full flex justify-between items-center mt-2 mb-2
}

.makeroom-contents-section {
  @apply w-[190px] h-[100px] flex flex-col justify-between items-center pt-2 pb-2
}

.makeroom-people {
  user-select : none;
  @apply w-full flex items-center justify-between mb-2
}

.makeroom-people-btn {
  @apply ml-8 flex flex-row justify-center items-center 
  rounded-lg border-2 border-green-300
}

.makeroom-people-minus {
  @apply flex justify-center items-center w-6 h-7 cursor-pointer
  active:bg-green-500 transition duration-300 rounded-l-lg
}
.makeroom-people-num {
  @apply flex justify-center items-center w-5 h-7
}
.makeroom-people-plus {
  @apply flex justify-center items-center w-6 h-7 cursor-pointer
  active:bg-green-500 transition duration-300 rounded-r-lg
}

.makeroom-type {
  @apply w-full flex items-center justify-between
}

.makeroom-option{
  @apply w-full flex justify-start
}

.makeroom-option-selected{
  user-select : none;
  @apply w-[80px] h-10 flex items-center justify-center cursor-pointer
  rounded-lg bg-green-500 text-white
}
.makeroom-option-not{
  user-select : none;
  @apply w-[80px] h-10 flex items-center justify-center cursor-pointer
  rounded-lg bg-green-100
}

.makeroom-map {
  @apply flex rounded-lg items-center justify-center
}

.makeroom-map-img {
  user-select : none;
  @apply w-20 rounded-lg 
}
.makeroom-map-prev {
  @apply w-5 h-5 flex items-center justify-center
  hover:scale-125 hover:text-gray-500 transition duration-300 cursor-pointer
}

.makeroom-map-next {
  @apply w-5 h-5 flex items-center justify-center
  hover:scale-125 hover:text-gray-500 transition duration-300 cursor-pointer;
}

.makeroom-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeroom-confirm {
  @apply w-40 h-12 mt-4 flex items-center justify-center bg-green-500
  rounded-lg text-white text-xl
  hover:scale-110 transition duration-300 hover:bg-green-600 cursor-pointer
}
