@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 300px;
  height: 100%;
  padding: 10px;
  /* border: purple 1px solid; */
}

.chatLog {
  position: relative;
  overflow-y: scroll;
  min-height: 85%;
  max-height: 85%;
  border: gainsboro 1px solid;
  border-radius: 6px;
}

.chatInput {
  position: relative;
  display: flex;
  height: 10%;
  top: 5%;
}

.chatText {
  position: relative;
  width: 80%;
  border: gainsboro 1px solid;
  border-radius: 6px;
  padding-left: 10px;
}

.chatBtn {
  position: relative;
  width: 15%;
  left: 5%;
  background-color: white;
  border: gainsboro 1px solid;
  border-radius: 6px;
}
