@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 300px;
  height: 100%;
  padding: 10px;
  /* border: purple 1px solid; */
}

.chatLog {
  position: relative;
  overflow-y: scroll;
  word-wrap: break-word;
  max-width: 200px;
  min-height: 85%;
  max-height: 85%;
  border: gainsboro 1px solid;
  border-radius: 6px;
  padding: 10px;
}

/* 스크롤바 설정*/
.chatLog::-webkit-scrollbar{
  width: 5px;
}

/* 스크롤바 막대 설정*/
.chatLog::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,1);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px; 
  border: 7px solid rgba(0,0,0,0.3);
}

/* 스크롤바 뒷 배경 설정*/
.chatLog::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}

.chatInput {
  position: relative;
  display: flex;
  height: 10%;
  top: 5%;
}

.chatText {
  position: relative;
  width: 80%;
  border: gainsboro 1px solid;
  border-radius: 6px;
  padding-left: 10px;
}

.chatBtn {
  position: relative;
  width: 15%;
  left: 5%;
  background-color: white;
  border: gainsboro 1px solid;
  border-radius: 6px;
}
