@tailwind base;
@tailwind components;
@tailwind utilities;


.login {
  font-family: "DunfaPixel";
  @apply 
  text-5xl 
  font-semibold 
  italic
  text-center
  my-8
}

.logininput {
  border-radius: 20px;
  @apply
  w-full
  border-black
  border-solid
  border-2
  mb-1
  pl-3
}

.loginbt {
  border: 2px solid black;
  margin-top: 5px;
  width: 100%;
  background-color: rgb(21, 21, 213);
  color: white;
  border-radius: 20px;
  font-family: 'DunfaPixel';
}