/* Signup.css */


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 높이 전체를 채우도록 설정 */
}

#wrapper {
  position: relative;
  height: 100%;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}

.signup_title {
  margin: 30px 0 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}


.box {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #22C55E;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background: #fff;
  font-size: 15px;
}

input {
  font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {
  padding-right: 70px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.box.int_pass {
  padding-right: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.box.int_pass_check {
  padding-right: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.box.int_name {
  padding-right: 40px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.step_url {
  /*@naver.com*/
  position: absolute;
  top: 16px;
  right: 13px;
  font-size: 15px;
  color: #8e8e8e;
}

.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

/* 에러메세지 */

.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
}

/* 버튼 */

.btn_area {
  margin: 25px 0 30px;
}

#btnJoin {
  width: 220px;
  margin-right: 20px;
  padding: 10px 0 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: rgb(34, 197, 94);
  font-size: 20px;
  /* font-weight: 400;
  font-family: Dotum,'돋움',Helvetica,sans-serif; */
  border-radius: 20px;
}

#btnJoin:hover {
  background-color: green;
  /* border: black solid 1.5px; */
}

#btnClose {
  width: 220px;
  padding: 10px 0 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: rgb(239, 68, 68, 1);
  font-size: 20px;
  /* font-weight: 400;
  font-family: Dotum,'돋움',Helvetica,sans-serif; */
  align-content: end;
  border-radius: 20px;
}

#btnClose:hover {
  background-color: crimson;
  /* border: 1.5px solid red; */
}