.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftSection {
  position: flex;
  color: white;
  text-align: center;
  width: 75%;
  height: 100vh;
  background-color: navy;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100vh;
  background-color: tomato;
}

.goBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  margin: 10px;
  background-color: grey;
}

.webCam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  height: 25%;
}
