@tailwind base;
@tailwind components;
@tailwind utilities;

.passwordchangemodal {
  @apply 
  fixed 
  inset-0 
  flex items-center 
  justify-center 
  z-50 
  outline-none 
  focus:outline-none
  bg-white;
}

/* .passwordchange-container {
  @apply 
  w-[300px] 
  h-[320px]  
  border-2 
  border-black 
  max-w-lg 
  mx-auto 
  rounded-lg 
  shadow-lg 
  bg-white 
  overflow-hidden;
} */

.passwordchange-header {
  @apply flex flex-row p-4;
}

.passwordchange-body {
  @apply flex flex-col p-4;
}

.password-change-name {
  @apply text-2xl mb-2
}

.password-change {
  @apply flex flex-col justify-center pb-2;
}

.passwordchange-input {
  @apply w-64 border-2 border-green-400 rounded-md mt-1 p-1 outline-none;
}

.passwordchange-input:focus {
  @apply  border-green-600
}

.password-change-button {
  @apply flex justify-end ml-4;
}

/* .passwordconfirm-container {
  @apply 
  flex-col justify-center items-center
  w-[350px] h-[250px]  
  border-2 border-black max-w-lg mx-auto rounded-lg shadow-lg 
  bg-white overflow-hidden;
} */

.passwordconfirm-header{
  @apply flex flex-1 justify-center mt-4 pt-4 items-center text-lg font-semibold
}

.passwordconfirm-body {
  @apply flex flex-col items-center p-4 mt-4;
}

.error-message {
  color: red;
  font-size: 12px;
  width: 250px;
  
}