.single-result-container {
  @apply min-w-[1000px] min-h-screen flex flex-col justify-center 
  items-center bg-green-400 cursor-default;
}

.result-header {
  @apply  w-[1000px] flex flex-col mb-5
}

.result-name {
  @apply text-7xl text-white justify-center ml-36
}

.result-body {
  @apply flex flex-row items-center
}

.result-body-cam {
  @apply w-[525px] h-[400px] flex items-center justify-center  bg-white 
  rounded-3xl p-10;
}

.result-select {
  @apply w-[250px] h-[400px] flex flex-col items-center justify-between
}

.result-webcam {
  @apply w-full flex items-center justify-center
  rounded-3xl;
}

.result-record {
  position: relative;
  margin-top: 50px;
}

.result-reward {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: x-large;
}

.result-back-button {
  
}
