@tailwind base;
@tailwind components;
@tailwind utilities;

.single-result-container {
  background-image:url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  user-select: none;
  @apply min-w-[1200px] min-h-screen flex flex-col justify-center items-center
  bg-green-400 cursor-default;
}

.single-result-header {
  @apply  w-[900px] flex justify-start items-start p-5
}

.single-result-name {
  @apply text-7xl text-white justify-start items-start
}

.single-result-body-card {
  background-color: rgba(247, 254, 231, 0.6);
  @apply w-[900px] min-w-[900px] flex flex-col
  rounded-3xl mb-10;
}

.single-result-body {
  @apply flex flex-row justify-between m-10
}

.single-result-body-cam {
  @apply w-full flex items-center justify-center ;
}

.single-result-webcam {
  @apply w-full flex items-center justify-center
  rounded-3xl;
}

.single-result-select {
  @apply w-[400px] flex flex-col items-end justify-between
}

.single-result-record {
  @apply w-[228px] h-[200px] flex flex-col items-center justify-center bg-lime-50 rounded-2xl
  cursor-default;
}

.single-result-reward {
  @apply w-[228px] h-[84px] flex flex-col justify-center items-center 
  bg-lime-50 rounded-2xl
}

/* .reward-alarm {
  @apply text-3xl
} */

.single-reward-coin {
  @apply text-3xl
}

.single-result-back-button{
  @apply w-[228px] h-[84px] bg-lime-50 text-black flex flex-col justify-center items-center
  rounded-2xl;
}

.resultBackbtn {
  @apply w-full h-full flex flex-1 justify-center items-center text-lg rounded-xl
   
  hover:text-red-100 hover:bg-red-500 active:text-red-900 hover:cursor-pointer 
}

.resultBackbtn:hover .back-name {
  @apply scale-150;
}

.back-name {
  font-size: xx-large;
  @apply transition 
}

