.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-prev {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-next {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
