@tailwind base;
@tailwind components;
@tailwind utilities;


.multi-result-container {
  background-image:url('/public/images/mainbg/mainbg.png');
  background-size: cover;
  @apply min-w-[1000px] min-h-screen flex flex-col justify-center items-center
  bg-green-400 cursor-default;
}

.multi-result-header {
  @apply  w-[1000px] flex justify-start items-start p-5
}

.multi-result-name {
  @apply text-7xl text-white justify-start items-start
}

.multi-result-body-card {
  background-color: rgba(247, 254, 231, 0.6);
  @apply w-[1000px] min-w-[1000px] flex flex-col
  rounded-3xl mb-10;
}

.multi-result-body {
  @apply flex flex-row m-5
}

.multi-result-leftSection {
  @apply w-4/6 flex flex-col items-center justify-center  ;
}

.multi-result-CamSection {
  @apply w-full flex flex-wrap items-center justify-start ;
}

.multi-result-firstWebCam {
  @apply w-[280px] h-[180px] m-3 flex items-center justify-center
  rounded-3xl overflow-hidden;
}

.multi-result-secondCam {
  @apply w-[280px] h-[180px] m-3 flex items-center justify-center
  rounded-3xl overflow-hidden bg-white;
}

.multi-result-bottomCamSection {
  @apply flex flex-row
}


.multi-result-thirdCam {
  @apply w-[280px] h-[180px] m-3 flex items-center justify-center
  rounded-3xl overflow-hidden bg-white;
}

.multi-result-FourthCam {
  @apply w-[280px] h-[180px] m-3 flex items-center justify-center
  rounded-3xl overflow-hidden bg-white;
}

.multi-result-rightSection {
  @apply w-2/6 h-[400px] flex flex-col items-center justify-between
}

.multi-result-reward {
  @apply w-[250px] h-[300px] flex flex-col items-center justify-center
   bg-white rounded-3xl
}

.multi-result-backbutton {
}
